 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-1 .u-shape-1 {
  width: 301px;
  height: 405px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 300px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 671px;
  height: 310px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -104px auto 0 130px;
}

.u-section-1 .u-shape-2 {
  height: 550px;
  width: 394px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -705px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 838px;
  height: 580px;
  object-position: 0% 100%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -667px auto 0 83px;
}

.u-section-1 .u-group-1 {
  width: 495px;
  min-height: 448px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -108px 75px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 38px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    height: 456px;
  }

  .u-section-1 .u-image-1 {
    width: 781px;
    margin-top: -155px;
    margin-right: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 281px;
  }

  .u-section-1 .u-image-2 {
    width: 788px;
    height: 596px;
    margin-top: -673px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 464px;
    margin-right: 139px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-image-1 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 335px;
    width: 230px;
    margin-top: -664px;
  }

  .u-section-1 .u-image-2 {
    width: 600px;
    height: 401px;
    margin-top: -458px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -62px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-shape-1 {
    height: 263px;
    margin-top: 76px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-2 {
    height: 228px;
    width: 210px;
    margin-top: -372px;
  }

  .u-section-1 .u-image-2 {
    width: 464px;
    height: 310px;
    margin-top: -351px;
  }

  .u-section-1 .u-group-1 {
    min-height: 412px;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-shape-1 {
    width: 195px;
    height: 170px;
    margin-top: 32px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 82px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-2 {
    height: 143px;
    width: 190px;
    margin-top: -397px;
  }

  .u-section-1 .u-image-2 {
    width: 301px;
    height: 199px;
    margin-top: -235px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 301px;
    min-height: 430px;
    margin-top: 57px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1484px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 889px;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 1089px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-1 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-2 {
  object-position: 50% 9.29%;
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-3 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-4 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-5 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-6 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-7 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-8 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

.u-section-2 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-9 {
  padding: 20px 0 0;
}

.u-section-2 .u-image-9 {
  filter: brightness(0.8);
  width: 184px;
  height: 330px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 899px;
  }

  .u-section-2 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-7 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-8 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-item-9 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2200px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1750px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2229px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3266px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3742px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 16px;
}